/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-rating-900;
    font-family: Overpass, Cascadia Code, system-ui, sans-serif;
  }
}

#root {
  display: grid;
  grid-template-rows: 1fr min-content;
  min-height: 100vh;
  padding: 1.5rem;
  width: 100vw;
}
